# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
env/

# Backup klasörü
bck2/
yedek_gtk/

# IDE ve sistem dosyaları
.vscode/
.idea/
.DS_Store
Thumbs.db

# Log dosyaları
*.log 
